.navbar {
    padding: 10px 0;
    position: fixed;     
    width: 100%;
    background-color: white;
    z-index: 1;
}
.banner {
    max-width: 80%;
    margin: 0 auto;
}
.banner img {
    width: 100%;
    object-fit: cover;
    margin-top: 80px;

}
.categories {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    justify-content: space-between;
    /* overflow: scroll; */
    flex-wrap: wrap;
}
.categoryName {
    font-weight: 600;
    margin-top: 10px;
    font-size: 15px;
    color: #525252;
    cursor: pointer;
}
.underline {
    width: 80%;
    margin: 8px auto;
    height: 2px;
    background-color: #E0E0E0;
}
.products {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap; 
    justify-content: space-between  ;

}
.activeCategory {
    color: #4B9CE2;    
}