.container {
    width: 80%;
    position: relative;
    top: 80px;  
    margin: 0 auto;
    display: flex;
    background-color: white;
    border-radius: 8px;
}
.navbar {
    padding: 10px 0;
    position: fixed;     
    width: 100%;
    background-color: white;
    z-index: 1;
}

.productLargeImage {
    width: 50%;
    padding: 10px;
}
.productLargeImage img {
    width: 100%;    
    object-fit: cover;
    height: 780px;
    border-radius: 8px;
}

.productDetails {
    width: 50%;
    color: #525252;
    padding: 10px;
}
.detailButtons {
    margin-bottom: 20px;
}

.description,
.detailButtons {
    width: 70%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

/* MODAL START */
.popup {
    min-width: 300px;
}
.productInfo {
    margin: 15px 0;
    border-radius: 8px;
    padding: 5px;
    background-color: #F0F8FF; 
    display: flex;
    align-items: center;
}
.popUpImage {
    border-radius: 8px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.popupNameWrap {
    width: 60%;
}
.popupName {
    width: 50%;
    font-size: 13px;
}
.offer {    
    height: 35px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
}
.offer span {
    font-size: 14px;
    margin-left: 5px;
}
.checkBoxGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offer:hover {
    background-color: #F0F8FF;
    color: #4B9CE2;
}

input[type=number] {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #F4F4F4;
    color: #99A0A7;
    font-size: 16px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.popupSubmitButton {
    text-align: center;
    margin-top: 10px;
}
.popupSubmitButton button {    
    width: 70%;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #4B9CE2;
    color: #FFF;
    font-size: 14px;
}
  .myoverlay,
  .buyModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(125,182,231, 0.7);
    z-index: 2;
  }

  .PopUpButtons {
      display: flex;
      justify-content: space-between;
  }

  .Quit,
  .Buy {
      width: 40%;
      height: 35px;
  }

  .PopUpContent {
      color: #555555;
  }
  
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }