.product {
    width: 17%;
    margin: 10px 6px;
    /* height: 200px; */
    background-color: white;
    padding: 10px;   
}
.productImage  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productImage img {
    width: 100%;
}
.productFeatures {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
a {
    text-decoration: none;
  }
  a:clicked,
  a:visited {
    color: inherit;
  }
  .brandName {
    color: #4B9CE2;
  }
  .productColor {
    color: #3E3E3E;
  }
  .productPrice {
    color: #3E3E3E;
  }
.productPrice {
    font-size: 15px;
    margin-top: 20px;
}

@media screen and (max-width: 376px) {
    .product {
        width: 155px;
        /* min-width: 150px; */
        margin: 10px 0;
    }
    .productFeatures {
        display: block;
    }
    .brandName {
        font-size: 15px;
    }
}

