.name p{
    font-size: 32px;
    color: #555555;    
}
.features {
    margin: 20px 0;
}
.features div {
    margin-bottom: 10px;
}

.featureName {
    display: inline-block;
    width: 160px;
}
.gotOfferPrice {
    margin-bottom: 20px;
}

.Offer {
    background-color: #F2F2F2;
    width: 50%;
    padding: 10px;
    font-size: 13px;
    border-radius: 10px;
    color: #B1B1B1;
}

.Offer strong {
    color: #525252;
}

@media screen and (max-width: 376px) {
    .name p {
        font-size: 18px;
    }
    .features {
        margin: 10px 0;
    }
    .features div {
        margin: 0;
    }
    .gotOfferPriceProductDetail {
        width: 171px;
    }
    .productPrice {
        display: flex;
        justify-content: space-between;
    }
    .price {
        font-size: 20px;
        font-weight: bold;
    }
}