.navbarWrapper {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.buttons {
    display: flex;
    justify-content: space-between;
}

/* padding: 0 10px; */

/* @media screen and (max-width: 426px) {
    .navbarWrapper {
        max-width: 100%;
        padding: 0 10px;
    }
    
} */

@media screen and (min-width: 375px) {
    .navbarWrapper {
        max-width: 100%;
        padding: 0 10px;
    }
    .brandLogo {
        width: 100px;
        height: 33px;
    }
    .navbarButton {
        width: 116px;
    
    }
}


@media screen and (min-width: 1024px) {    
    .brandLogo {
        width: 150px;
        height: 43px;
    }
    .navbarButton {
        width: 116px;
    
    }
}

@media screen and (min-width: 1440px) {  
    .navbarWrapper {
        max-width: 80%;
        /* padding: 0 10px; */
    }  
}


@media screen and (min-width: 1920px) {  
    .navbarWrapper {    
        padding: 10px 0;
    }
    .brandLogo {
        width: 128px;
        height: 42px;
    }
}