.navbarWrapper {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
