.registerButton {
    height: 40px;
    background-color: #4B9CE2;
    border: none;
    color: #FFF;
    border-radius: 4px; 
}
.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.navbarButton {
    background-color: #F0F8FF;
    border: none;    
    border-radius: 8px;
    width: 124px;
    height: 40px;
    color: #4B9CE2;
    font-size: 15px;
    font-weight: 700;
}
.addProductButton {
    margin-right: 15px;
}