.Offers {
    padding: 10px 25px;
}

.ProductCard {
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    margin-bottom: 20px;
}

.ProductCardWrapper {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.ProductFeatures {
    display: flex;
}
.productImage {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.productImage img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.productName {
    color: #555555;
    margin-bottom: 7px;
}

.acceptButton, 
.rejectButton {
    width: 108px;
    height: 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
}

.acceptButton {
    margin-right: 10px;
    background-color: #4B9CE2;
}
.rejectButton {
    background-color: #F77474;
}
.status {
    font-size: 15px;
}

.accepted {
    color: #4B9CE2;
}

.rejected {
    color: #F77474;
}
.wait {
    color: green;
}

@media screen and (max-width: 376px) {
    .Offers {
        padding: 10px;
    }  
    .ProductCardWrapper {
        flex-direction: column;
    }
    .buttons {
        width: 100%;
    }
    .ButtonsWrapper {
        width: calc(100% - 80px);
        float: right;
        text-align: right;
    }
}