@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #F2F2F2;
}

/* REGISTER PAGE START */

.registerPage {
    overflow: hidden;
    display: flex;
    
}

.leftSide {
    width: 43.5%;   
    height: 100vh;     
}
.registerGirl {
    object-fit: cover;
    width: 100%;
    height: 100%;    
}
.rightSide {
    width: calc(100% - 43.5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #525252;
}
.formValidation {    
    width: calc(100% - 49%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0 60px;
}
.brandLogo {
    margin-bottom: 30px
}
.header {
    text-align: center;
    margin: 55px 0;
}
.formContainer {
    /* width: 50%; */
    margin: 0 auto;
}
.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
label {
    font-size: 20px;
}
input[type="text"],
input[type="password"] {
    border: 2px solid #8E8E8E;
    height: 40px;
    background-color: #F4F4F4;
    border-radius: 4px;  
    font-size: 16px;
    line-height: 20.2px;
    letter-spacing: 0.15px;
    color: #99A0A7;
    outline: none;
    width: 100%
}
#errorEmail,
#errorPassword {
    color: red;
    border: 2px solid #F77474;
    background-color: #FFF2F2;
}
input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #F0F8FF;
    color: #3E3E3E;
    border: 2px solid #4B9CE2;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    padding-left: 10px;
}
.registerButton {
    height: 40px;
    background-color: #4B9CE2;
    border: none;
    color: #FFF;
    border-radius: 4px; 
}
.formGroup:nth-child(3) {
    margin-top: 30px;
}
.alreadyAccount {
    padding: 30px 0;
    text-align: center;
}

/* REGISTER PAGE END */


/* INDEX PAGE START */

.navbar {
    padding: 10px 0;
    position: fixed;     
    width: 100%;
    background-color: white;
    z-index: 1;
}
.navbarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.navbarButton {
    background-color: #F0F8FF;
    border: none;    
    border-radius: 8px;
    width: 124px;
    height: 40px;
    color: #4B9CE2;
    font-size: 15px;
    font-weight: 700;
}
.addProductButton {
    margin-right: 15px;
}
.navbarWrapper,
.banner {
    max-width: 80%;
    margin: 0 auto;
}
.banner img {
    width: 100%;
    object-fit: cover;
    margin-top: 80px;

}
.categories {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    justify-content: space-between;
    /* overflow: scroll; */
    flex-wrap: wrap;
}
.categoryName {
    font-weight: 600;
    margin-top: 10px;
    font-size: 15px;
    color: #525252;
    cursor: pointer;
}
.underline {
    width: 80%;
    margin: 8px auto;
    height: 2px;
    background-color: #E0E0E0;
}
.products {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap; 
    justify-content: space-between  ;

}
.product {
    width: 17%;
    margin: 10px 6px;
    /* height: 200px; */
    background-color: white;
    padding: 10px;   
}
.productImage  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productImage img {
    width: 100%;
}
.productFeatures {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.productPrice {
    font-size: 15px;
    margin-top: 20px;
}
.activeCategory {
    color: #4B9CE2;
    
}
/* INDEX PAGE END */

/* DETAIL PAGE START */

.container {
    width: 80%;
    position: relative;
    top: 80px;  
    margin: 0 auto;
    display: flex;
    background-color: white;
    border-radius: 8px;
}

.productLargeImage {
    width: 50%;
    padding: 10px;
}
.productLargeImage img {
    width: 100%;    
    object-fit: cover;
    height: 780px;
    border-radius: 8px;
}

.productDetails {
    width: 50%;
    color: #525252;
    padding: 10px;
}

.name p{
    font-size: 32px;
    color: #555555;    
}

.features {
    margin: 20px 0;
}
.features div {
    margin-bottom: 10px;
}

.featureName {
    display: inline-block;
    width: 160px;
}
.productPrice,
.detailButtons {
    margin-bottom: 20px;
}

.description,
.detailButtons {
    width: 70%;
}

.buyButton {
    width: 45%;
    height: 40px;
    background-color: #4B9CE2;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.offerButton {
    width: 50%;
    height: 40px;
    background-color: #F0F8FF;
    border: none;
    color: #4B9CE2;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

/* MODAL START */
.mymodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}
.popup {
    min-width: 300px;
}
.PopUpheader {
    display: flex;
    justify-content: space-between;
}
.PopUpheader p {
    font-size: 28px;
}
.productInfo {
    margin-top: 5px;
    border-radius: 8px;
    padding: 5px;
    background-color: #F0F8FF; 
    display: flex;
    align-items: center;
}
.popUpImage {
    border-radius: 8px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.popupNameWrap {
    width: 60%;
}
.popupName {
    width: 50%;
    font-size: 13px;
}
  .myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(125,182,231, 0.7);
    z-index: 2;
  }
  
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  /* MODAL END */

/* DETAIL PAGE END */