@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

/* REGISTER PAGE START */

.registerPage {
    overflow: hidden;
    display: flex;
    
}

.leftSide {
    width: 43.5%;   
    height: 100vh;     
}
.registerGirl {
    object-fit: cover;
    width: 100%;
    height: 100%;    
}

.rightSide {
    width: calc(100% - 43.5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #525252;
}

.formValidation {    
    width: calc(100% - 49%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0 60px;
}

.brandLogo {
    margin-bottom: 30px
}

.header {
    text-align: center;
    margin: 55px 0;
}

.formContainer {
    /* width: 50%; */
    margin: 0 auto;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
label {
    font-size: 20px;
}

input[type="text"],
input[type="password"] {
    border: 2px solid #8E8E8E;
    height: 40px;
    background-color: #F4F4F4;
    border-radius: 4px;  
    font-size: 16px;
    line-height: 20.2px;
    letter-spacing: 0.15px;
    color: #99A0A7;
    outline: none;
    width: 100%
}

#errorEmail,
#errorPassword {
    color: red;
    border: 2px solid #F77474;
    background-color: #FFF2F2;
}
input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #F0F8FF;
    color: #3E3E3E;
    border: 2px solid #4B9CE2;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    padding-left: 10px;
}
.registerButton {
    height: 40px;
    background-color: #4B9CE2;
    border: none;
    color: #FFF;
    border-radius: 4px; 
}
.formGroup:nth-child(3) {
    margin-top: 30px;
}

.alreadyAccount {
    padding: 30px 0;
    text-align: center;
}

/* REGISTER PAGE END */


/* INDEX PAGE START */

.indexPage {
    /* max-width: 80%;
    margin: 0 auto; */
}


.navbar {
    padding: 10px 0;
    background: beige;   
    position: fixed;     
    width: 100%;
}
.navbarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons {
    display: flex;
}
.navbarButton {
    background-color: #F0F8FF;
    border: none;    
    border-radius: 8px;
    width: 124px;
    height: 40px;
    color: #4B9CE2;
    font-size: 15px;
    font-weight: 700;
}
.addProductButton {
    margin-right: 15px;
}

.navbarWrapper,
.banner {
    max-width: 80%;
    margin: 0 auto;
}
.banner img {
    width: 100%;
    object-fit: cover;
    margin-top: 80px;

}


/* INDEX PAGE END */